<% unless user_signed_in? %>
  <li><%= link_to 'Ingresar', new_user_session_path %></li>
  <li><%= link_to 'Registrar', new_user_registration_path %></li>
<% else %>
  <li>
  <%= link_to edit_user_registration_path do %>
  	<%= image_tag current_user.avatar, size: '25' %>
  <% end %>
  </li>
  <li><%= link_to 'Salir', destroy_user_session_path, method: :delete, data: { confirm: "Seguro que desea salir?" } %></li>
<% end %>